.profile-img{
            width: 100%;
            height: auto;
            border-radius: 50%;
            margin-top: 144px;
        }
.info{
    text-align: center;
}
.name{
    font-size: 18px;
    margin-bottom: 0px;
}
.job-title{
    font-size: 14px;
    margin-bottom: 0px;
}
.company{
    font-size: 14px;
    color:#33A1FF;
}
.ex-company{
    font-size: 14px;
    color:#3F4742;
}
.nav-right{
    float: right;
}
.paper{
    margin-bottom: 0px;
}
.app{
    margin-bottom: 0px;
}

.right-container{
    margin-top: 144px;
}


/* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000;
    font-weight: 400;
}

.topnav{
    margin-top: 60px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}


.paper {
    margin-bottom: 5px; /* Adjust the value to your preference */
}
.paper + a {
    margin-top: 5px; /* Adjust the value to your preference */
    display: inline-block;
}
.container {
    margin-bottom: 20px; /* Adjust the value to your preference */
}